### Series:

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.24.2'

In [3]:
list1=[1,2,3,4,5,"apple"]
list1

[1, 2, 3, 4, 5, 'apple']

In [4]:
series=pd.Series(list1)

In [5]:
series

0        1
1        2
2        3
3        4
4        5
5    apple
dtype: object

In [7]:
series1=pd.Series([1,2,3,4])
series1

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
series1=pd.Series([1,2,3,4],dtype=float)
series1

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [9]:
series1=pd.Series([1,2,3,4],dtype=float,name="data values")
series1

0    1.0
1    2.0
2    3.0
3    4.0
Name: data values, dtype: float64

In [10]:
series1=pd.Series([1,2,3,4],dtype=float,name="data values",index=['a','b','c','d'])
series1

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

In [11]:
empty_series=pd.Series([])
empty_series

Series([], dtype: float64)

In [12]:
scalar_series=pd.Series(2)
scalar_series

0    2
dtype: int64

In [13]:
scalar_series=pd.Series(2,index=["a","b","c","d"])
scalar_series

a    2
b    2
c    2
d    2
dtype: int64

In [14]:
dict_series=pd.Series({"rohit":176,"virat":184,"dhoni":197})
dict_series

rohit    176
virat    184
dhoni    197
dtype: int64

In [15]:
dict_series["rohit"]

176

In [16]:
s1=pd.Series([1,2,3,4],index=["raj","ram","rahul","rajeev"])
s1

raj       1
ram       2
rahul     3
rajeev    4
dtype: int64

In [17]:
s2=pd.Series([10,20,30,40],index=["raj","ram","rahul","rajeev"])
s2

raj       10
ram       20
rahul     30
rajeev    40
dtype: int64

In [18]:
s1+s2

raj       11
ram       22
rahul     33
rajeev    44
dtype: int64

In [19]:
max(s1)

4

In [20]:
max(s2)

40

In [22]:
s3=pd.Series([1,2,3,4])
s3

0    1
1    2
2    3
3    4
dtype: int64

In [23]:
s4=pd.Series([2,3])
s4

0    2
1    3
dtype: int64

In [24]:
s3+s4

0    3.0
1    5.0
2    NaN
3    NaN
dtype: float64