In [1]:
import pandas as pd

In [3]:
empty_df=pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [4]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [5]:
df1=pd.DataFrame(list1)
df1

   0
0  1
1  2
2  3
3  4

In [10]:
list2=[[1,2,3],[20,30,40]]
list2

[[1, 2, 3], [20, 30, 40]]

In [11]:
df2=pd.DataFrame(list2)
df2

    0   1   2
0   1   2   3
1  20  30  40

In [19]:
df3=pd.DataFrame(pd.Series([30,40,50],index=["a","b","c"]))
df3

    0
a  30
b  40
c  50

In [23]:
dict1={"A":[2,3,4],"B":[4,5,6]}
dict1

{'A': [2, 3, 4], 'B': [4, 5, 6]}

In [24]:
df4=pd.DataFrame(dict1)
df4

   A  B
0  2  4
1  3  5
2  4  6

In [25]:
ls_of_dict=[{'a':1,'b':2},{"a":3,"b":5,"c":800}]
ls_of_dict

[{'a': 1, 'b': 2}, {'a': 3, 'b': 5, 'c': 800}]

In [26]:
df5=pd.DataFrame(ls_of_dict)
df5

   a  b      c
0  1  2    NaN
1  3  5  800.0

In [27]:
dic_of_series={"Id":pd.Series([20,30,40]),"roll_no":pd.Series([3899,7898,6755])}
dic_of_series

{'Id': 0    20
 1    30
 2    40
 dtype: int64, 'roll_no': 0    3899
 1    7898
 2    6755
 dtype: int64}

In [28]:
df6=pd.DataFrame(dic_of_series)
df6

   Id  roll_no
0  20     3899
1  30     7898
2  40     6755